body {
    background-color: #62e9f3;
    font-family: Arial, sans-serif;
  }
  
  h1 {
    color: #ff0000;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  p {
    margin-bottom: 10px;
    font-family: fantasy;
    font-style: italic;
    font-size: large;
  }